  .backWrapper{
      display: flex;
      align-items: center;
  }
  .titlee { 
      padding: 0px 0px 0px 50px;
  }
  .no-favourites{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 763px) {
    .backWrapper{
      padding-left: 20px;
      padding-top: 30px;
    }
    .titlee { 
      padding: 0px 0px 0px 20px;
  }
  }
    