.green{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    right: 0;
    background-color: #f5f5f5;
    z-index: 15;
    border-bottom: 1px solid #DDDDDD;
    display: none; 
}
    .cart-wrapperr{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
    .cartt{
        cursor: pointer;
    }
    .logodiv{
        border-right: 1px solid #DDDDDD;
    }
    @media (max-width: 749px) {
        .green{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }