.green{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    right: 0;
    background-color: #f5f5f5;
    margin-bottom: 60px;
    z-index: 15;
    opacity: 90%;
    border-bottom: 1px solid black;
    display: none;
}
    .cart-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
    .logodiv{
        border-right: 1px solid black;
    }
  @media (max-width: 749px) {
      .green{
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
  }