/* .main-container{
    background-color: #fff;
    padding: 0px 30px 90px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
  } */
  .backWrapper{
      display: flex;
      align-items: center;
  }
  .titlee { 
      padding: 40px 0px 40px 50px;
  }
  .no-favourites{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .no-favourites-btn {
      width: 100%;
      background-color: #f5f5f5;
      height: 55px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-radius: 18px;
      margin-top: 30px;
      padding: 0px 15px;
}
  /* .grid-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px;
      margin: 0 auto;
      align-items: center;
  }
  @media (max-width: 1100px) {
  
      .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
      } 
      .grid-item:hover {
        transform: translateY(0px);
        }
        .grid-item{
          box-shadow: 0px 20px 16px rgba(0, 0, 0, 0.12);
        border: 1px solid #e2e2e2;
        }
    }
    @media (max-width: 864px) {
    
      .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
      .grid-item {
        width: 275px;
        height: 320px;
        background: #f5f5f5;
        border: 1px solid #F8F8F8;
        box-sizing: border-box;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.06);
        border-radius: 40px;
        padding: 12px 19px 24px 19px;
        cursor: pointer;
        transition: none;
        justify-self: center;
        box-shadow: 0px 20px 16px rgba(0, 0, 0, 0.12);
        border: 1px solid #e2e2e2;
        }
        .grid-item:hover {
        transform: translateY(0px);
        box-shadow: 0px 20px 16px rgba(0, 0, 0, 0.12);
        border: 1px solid #e2e2e2;
        }
        .item-title {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
        }
        .under-image-wrapper {
            display: flex;
            justify-content: space-around;
        }
        .item-text {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0em;
        }
        .price {
            padding-top: 10px;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0em;
        }
    }
    @media (max-width: 749px) {
  
      .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0 auto;
      }
      .titlee{
        padding: 40px 0px;
        margin: 0 auto;
      }
      .arrow-back{
        display: none;
      } */
    