* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: #ebebeb;
  font-family: 'Inter', sans-serif;
}

.main_wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 60px 40px 60px 40px;
}

@media (max-width: 749px) {
  .main_wrapper {
    padding: 0px;
  }
  body{
    background: white;
  }
}

